body {
  // position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #102D35;
  color: #FDFDFD;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  // display: flex;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

// .header h4 {
//   text-align: center;
// }

.images {
  width: auto;
  height: 350px;
  border-radius: 5px;
}

.items-container {
  display: inline-block;
  // display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.child-items {
  display: flex;
  // flex:1;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  // background-color: #0274BA;
  background: rgb(183,235,236);
  background: linear-gradient(0deg, rgba(183,235,236,0.871608018207283) 0%, rgba(2,116,186,1) 63%);
  border-radius: 5px;
  gap: 10px;
  margin: 20px 20px;
}

.child-items:first-child{
  margin-right: 20px;
}

.add{
  text-align: center;
}

.form {
  // background-color: #00A1CF;
  padding: 15px 50px;
  border-radius: 5px ;
  background: rgb(183,235,236);
  background: linear-gradient(0deg, rgba(183,235,236,0.871608018207283) 0%, rgba(0,161,207,1) 63%);
}

button {
  background-color: lightcoral;
  border-radius: 5px;
  color:white;
  margin: 5px;
  
}

input {
  margin: 5px;
  border-radius: 5px;
  border-color: lightcoral;
}
