@import './variables.scss';

body {
  // position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #102D35;
  color: #FDFDFD;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 5px 5px #354247;
  background: rgb(183,235,236);
  background: linear-gradient(0deg, rgba(183,235,236,0.871608018207283) 0%, rgba(0,161,207,1) 63%);
  border-radius: 5px;
}

.images {
  width: auto;
  height: 350px;
  border-radius: 5px;
}

.items-container {
  display: inline-flex;
  // display: grid;
  // display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.child-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(183,235,236);
  background: linear-gradient(0deg, rgba(183,235,236,0.871608018207283) 0%, rgba(2,116,186,1) 63%);
  border-radius: 5px;
  margin: 20px 20px;
  padding: 5px;
  box-shadow: 5px 5px #354247;
}

.add{
  text-align: center;
  font-weight: bold;
}

.form {
  padding: 15px 50px;
  border-radius: 5px ;
  background: rgb(183,235,236);
  background: linear-gradient(0deg, rgba(183,235,236,0.871608018207283) 0%, rgba(0,161,207,1) 63%);
  box-shadow: 5px 5px #1d2427;
}

button {
  background-color: lightcoral;
  border-radius: 5px;
  color:white;
  margin: 5px;
  font-weight: bold;
}

input {
  margin: 5px;
  border-radius: 5px;
  border-color: lightcoral;
}
